@media { /* trick */ }

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: url(https://raw.githubusercontent.com/GeliosMK2/Shikimori-GMK2/master/img/GMK2-bg.jpg) fixed;
  background-size: cover;
}

.l-page {
  background-color: rgba(255, 255, 255, 0.8);
}

.l-top_menu-v2 .global-search input {
  background-color: #f0fffc;
}

.l-top_menu-v2 .global-search input:focus {
  background-color: #fff;
}

.tooltip-inner {
  background-color: #f5fffc;
}

.headline, .midheadline, .subheadline {
  background-color: rgba(242,179,237,0.5);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 6px 2px rgba(28, 28, 28, 0.06)
}

.b-link {
  color: #416fb3;
}

.b-achievement .c-about .title {
  color: #416fb3 !important;
}

.b-achievement .c-about .progress {
  background-color: #dedede;
}

.b-achievement .c-about .hint {
  color: #8b969c;
}

.prepared-backgrounds, .b-feedback, .hotkey-marker, .body_background, .page_background_color, .b-input.sticky_menu, .b-input.page_border {
  display: none;
}

h2.headline.blue.m10 {
  font-size: 15px;
  border-left: 4px solid #a9cfe5;
}

h2.subheadline.orange.m10 {
  border-left: 4px solid #e5bfa5;
}

h2.subheadline.green.m10 {
  border-left: 4px solid #c1d7af;
}

.comments-loader, .comments-expander, .collapsed, .b-comments .comments-hider {
  background-color: #dec3f7ab !important;
  border-radius: 10px;
  border: none !important;
  box-shadow: 0 2px 6px 2px rgba(30, 30, 30, 0.04);
}

.comments-loader:hover, .comments-expander:hover, .collapsed:hover, .b-comments .comments-hider:hover {
  -webkit-box-shadow: 0px 0px 9px -2px rgba(34, 60, 80, 0.17) inset;
  -moz-box-shadow: 0px 0px 9px -2px rgba(34, 60, 80, 0.17) inset;
  box-shadow: 0px 0px 9px -2px rgba(34, 60, 80, 0.17) inset;
  background-color: #dec3f7c4 !important;
}

span.other-names {
  background-color: #bce6ff !important;
  border: 1px solid #bce6ff !important;
  border-radius: 10px;
  margin-top: 3px !important;
}

span.other-names:hover {
  background-color: #8fd3fd !important;
}

.avatar img, .b-user16 img {
  border-radius: 50%;
}

.image-decor img, .entry img {
  border-radius: 10px;
}

.b-badge img {
  border-radius: 5px;
}

.activity .bar.simple .bar {
  border-radius: 7px 7px 0px 0px;
}

.bar-container .bar.min {
  border-radius: 3px 6px 6px 3px;
}

.b-collection_search .field {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.b-collection_search .field input {
  background-color: #f4fffd;
  border-radius: 10px;
  width: 850px;
}

.b-collection_search .field input:focus {
  background-color: #fff;
}

.p-user_rates-index .list-lines .selectable:hover {
  background-color: rgba(242,179,237,0.26);
}

.p-userlist_comparer .comparer table .selectable {
  transition: transform 150ms ease;
}

.p-userlist_comparer .comparer table .selectable:hover {
  background-color: rgba(80, 75, 125, 0.3);
  transform: scale(1.02);
}

.p-profiles .profile-head .c-brief header h1 {
  color: rgb(110,74,107);
  text-shadow: purple 0 0 2px;
  pointer-events: none;
}

.b-dialog>.inner header img, .b-message>.inner header img, .b-comment>.inner header img, .l-top_menu-v2 .menu-dropdown.profile>span img {
  border-radius: 50%;
}

.b-tag[href $= '/9-Ecchi'], .b-tag[href $= '/r_plus'], .b-tooltipped[original-title*="R+"]  {
  border-bottom-color: #ffd1d1;
  text-shadow: 0 1px 3px rgba(255, 209, 209, 0.85), 1px 0 3px rgba(255, 209, 209, 0.85), 0 -1px 3px rgba(255, 209, 209, 0.85), -1px 0 3px rgba(255, 209, 209, 0.85), 0 2px 3px rgba(255, 209, 209, 0.7), 2px 0 3px rgba(255, 209, 209, 0.7), 0 -2px 3px rgba(255, 209, 209, 0.7), -2px 0 3px rgba(255, 209, 209, 0.7);
}

.b-tag[href $= '/9-Ecchi']:hover, .b-tag[href $= '/r_plus']:hover {
  background-color: #ffd1d1;
}

.b-tag[href $= '/12-Hentai'], .b-tag[href $= '/rx'], .b-tooltipped[original-title*="Rx"]  {
  border-bottom-color: #ff8585;
  text-shadow: 0 1px 3px rgba(255, 185, 185, 0.75), 1px 0 3px rgba(255, 185, 185, 0.75), 0 -1px 3px rgba(255, 185, 185, 0.75), -1px 0 3px rgba(255, 185, 185, 0.75), 0 2px 3px rgba(255, 185, 185, 0.6), 2px 0 3px rgba(255, 185, 185, 0.6), 0 -2px 3px rgba(255, 185, 185, 0.6), -2px 0 3px rgba(255, 185, 185, 0.6);
}

.b-tag[href $= '/12-Hentai']:hover, .b-tag[href $= '/rx']:hover {
  background-color: #ff8585;
}

.tooltip-inner .close {
  background-color: #a8ebff;
}

.l-footer {
  text-align: center
}

.l-footer:before {
  content: 'GMK2-design v.1.2';
  color: #555555;
  font-size: 11px;
  float: left;
}

#profiles_show .l-page {
  margin-top: 65px;
  border-radius: 15px;
}

.headline>a:before, .midheadline>a:before, .subheadline>a:before {
  color: #c47df1;
}

.l-top_menu-v2, .l-top_menu-v2 .submenu, .l-top_menu-v2 .submenu-triangle {
  background-color: rgba(130,85,130,0.9) !important;
}

.l-top_menu-v2 .submenu {
  border: none;
  border-radius: 0 0 10px 10px;
  overflow-y: auto;
  max-height: calc(100vh - 144px);
  
}

.l-top_menu-v2 .submenu a:hover {
  color: #ffd5b8;
  background-color: rgb(160,130,163);
}

.l-top_menu-v2 .submenu>.legend {
  border: solid pink;
  border-width: 1px 0 1px 0;
  border-radius: 15px;
  margin-bottom: 4px;
  background-color: rgba(225,225,225,0.25);
}

.l-top_menu-v2 .menu-icon.mail:after {
  background-color: #b5e7ff;
  color: #ff4f80;
}

.l-top_menu-v2 .menu-icon.forum:hover, .l-top_menu-v2 .menu-icon.mail:hover, .l-top_menu-v2 .menu-icon.contest:hover {
  background-color: rgba(230,165,225,0.25);
}

.l-top_menu-v2 .menu-icon.forum:focus, .l-top_menu-v2 .menu-icon.mail:focus, .l-top_menu-v2 .menu-icon.contest:focus {
  background-color: rgba(206, 131, 200, 0.25);
}

.l-top_menu-v2 .menu-icon.forum:active, .l-top_menu-v2 .menu-icon.mail:active, .l-top_menu-v2 .menu-icon.contest:active {
  background-color: rgba(224, 151, 218, 0.25);
}

.l-top_menu-v2 .menu-icon.forum, .l-top_menu-v2 .menu-icon.forum:hover, .l-top_menu-v2 .menu-icon.mail, .l-top_menu-v2 .menu-icon.mail:hover, .l-top_menu-v2 .menu-icon.contest, .l-top_menu-v2 .menu-icon.contest:hover {
  transition: all 250ms;
}

::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f3c2a1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e2b08d;
}

::-webkit-scrollbar{
  width: 6px;
}

.b-message .b-anime_status_tag {
  border-radius: 6px;
}

.b-message .b-anime_status_tag.episode {
  background-color: #dec3f7ed;
}

.p-profiles-show .lifetime .bar {
  overflow: visible;
}

.p-profiles-show .lifetime .cuts .cut {
  width: 10px;
  height: 10px;
  background-color: #8eefc5;
  border: 1px solid rebeccapurple;
  border-radius: 50%;
  position: absolute;
  top: -1px;
}

::selection {
  background-color: #fbecc3;
}

::-moz-selection {
background-color: #fbecc3;
}

.b-stats_bar .bar {
  border-radius: 3px;
}

.b-stats_bar.lifetime .bar .first {
  background-color: #f45151eb;
}

.p-profiles-show .lifetime .times .time.checked:before {
  color: #2ecc83;
}

/*----------  Profile nickname animation  ----------*/

.p-profiles .profile-head .c-brief header h1 {
  position: relative;
}

.p-profiles .profile-head .c-brief header h1::before, .p-profiles .profile-head .c-brief header h1::after {
  content: 'IO.Misanthrope';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.p-profiles .profile-head .c-brief header h1::before {
  color: #ff00c1;
  animation: glitch-effect 3s infinite;
}

.p-profiles .profile-head .c-brief header h1::after {
  color: #3498db;
  animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect {
  0%{
    left: -2px;
    top: -2px;
  }
  25%{
    left: 2px;
    top: 0px;
  }
  50%{
    left: -1px;
    top: 2px;
  }
  75%{
    left: 1px;
    top: -1px;
  }
  100%{
    left: 0px;
    top: -2px;
  }
}

/*----------  Profile nickname animation -END-  ----------*/

.b-badge:before {
  background-color: rgba(17, 34, 51, 0.6);
}

.p-profiles-show .profile-content .activity .title {
  font-size: 0;
}

.p-profiles-show .profile-content .activity .title::after {
  content: 'График активности';
  vertical-align: top;
  font-size: 13px;
}

.p-profiles .profile-head .c-history .entry:hover {
  background-color: rgba(223,181,255,0.25);
  border-radius: 10px;
}

.p-profiles .profile-head .c-history .entry:hover .title {
  text-decoration: none;
}

.p-profiles .profile-head .c-history .entry:hover .name-ru:before {
  color: rgb(52, 0, 136) !important;
}

.p-profiles .profile-head .c-history .entry:hover, .p-profiles .profile-head .c-history .entry, .p-profiles .profile-head .c-history .entry .name-ru:before, .p-profiles .profile-head .c-history .entry .name-ru {
  transition: all 85ms ease;
}

.b-user.avatar img, .b-user.named_avatar img, .b-user.avatar_fixed_margin img, .b-club .logo {
  box-shadow: 0 0 3px 1px rgba(30, 30, 50, 0.16);
}

.p-profiles .profile-head .c-brief .avatar img, .p-user_rates-index .l-menu .avatar img {
  box-shadow: 0 0 3px 1px rgba(30, 30, 30, 0.12);
}

.b-user.avatar img:hover, .b-user.named_avatar img:hover, .b-user.avatar_fixed_margin img:hover, .b-club .logo:hover {
  box-shadow: 0 0 3px 2px rgba(25, 25, 105, 0.41);
}

.b-user.avatar img, .b-user.named_avatar img, .b-user.avatar_fixed_margin img, .b-club .logo, .b-user.avatar img:hover, .b-user.named_avatar img:hover, .b-user.avatar_fixed_margin img:hover, .b-club .logo:hover {
  transition: all 85ms ease;
}

.b-comments-notifier {
  border-radius: 50%;
}

.b-block_list li:hover {
  background-color: rgba(209, 179, 242, 0.3);
}

.b-block_list li.selected {
  background-color: rgba(230, 184, 247, 0.47)
}

.b-form input[type=submit], .b-button {
  border-radius: 5px;
  background-color: #604263;
}

.b-form input[type=submit]:hover, .b-button:hover {
  background-color: #915c96;
}

.b-form input[type=submit]:focus, .b-button:focus {
  outline: none;
  background-color: #915c96;
  -webkit-box-shadow: inset 0px 0px 6px 1px rgba(245,245,245,0.48);
  -moz-box-shadow: inset 0px 0px 6px 1px rgba(245,245,245,0.48);
  box-shadow: inset 0px 0px 6px 1px rgba(245,245,245,0.48);
}

/*----------  Animation "l-page-shadow"  ----------*/

#profiles_show .l-page {
  animation-name: l-page-shadow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes l-page-shadow {
  0% {
    box-shadow: 0 0 12px 4px rgba(181, 53, 172, 0.6);
  }
  10% {
    box-shadow: 0 0 12px 4px rgba(181, 53, 112, 0.6);
  }
  20% {
    box-shadow: 0 0 12px 4px rgba(208, 60, 198, 0.6);
  }
  30% {
    box-shadow: 0 0 12px 4px rgba(53, 171, 181, 0.6);
  }
  40% {
    box-shadow: 0 0 12px 4px rgba(208, 60, 129, 0.6);
  }
  50% {
    box-shadow: 0 0 12px 4px rgba(53, 181, 114, 0.6);
  }
  60% {
    box-shadow: 0 0 12px 4px rgba(60, 197, 208, 0.6);
  }
  70% {
    box-shadow: 0 0 12px 4px rgba(53, 77, 181, 0.6);
  }
  80% {
    box-shadow: 0 0 12px 4px rgba(60, 208, 131, 0.6);
  }
  90% {
    box-shadow: 0 0 12px 4px rgba(181, 53, 137, 0.6);
  }
  100% {
    box-shadow: 0 0 12px 4px rgba(60, 89, 208, 0.6);
  }
}

/*----------  Animation "l-page-shadow" -END-  ----------*/

.b-to-top.active .slide {
  width: 60px;
}

.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .compatibility a {
  margin-top: 11px !important;
}

.p-profiles .profile-head .c-brief header {
  margin-bottom: 0;
}

.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar {
  margin-bottom: 10px;
}

.b-stats_bar .stat_names {
  text-align: center;
}

.b-stats_bar a.title {
  margin-left: 289px;
  margin-bottom: 2px;
  padding: 5px;
  transition: all 150ms ease;
  border-radius: 5px;
}

.b-stats_bar a.title:hover {
  text-decoration: none;
}

.b-stats_bar.anime a.title {
  color: darkgreen;
}

.b-stats_bar.manga a.title {
  color: purple;
}

.b-stats_bar.anime a.title:hover {
  background-color: rgba(120, 173, 164, 0.25);
  color: #008e00;
}

.b-stats_bar.manga a.title:hover {
  background-color: rgba(143, 120, 173, 0.23);
  color: #b718b7;
}

.b-stats_bar.anime a.title:focus{
  box-shadow: inset 0 0 6px 3px rgba(120, 173, 164, 0.3);
}

.b-stats_bar.manga a.title:focus {
  box-shadow: inset 0 0 6px 3px rgba(143, 120, 173, 0.3);
}

.b-club .logo {
  border-radius: 50%;
}

.p-contests .match-day .match-link:hover {
  background-color: rgba(209, 179, 242, 0.3);
}

.p-contests .match-day .match-link.active {
  background-color: rgba(230, 184, 247, 0.47);
}

.p-contests .match-day .match-link:active {
  background-color: rgba(230, 164, 247, 0.47) !important;
}

.b-shiki_editor .body .editor textarea {
  background-color: #f4fff9ab;
  border-radius: 5px !important;
}

.b-shiki_editor .body .editor textarea:focus {
  border-color: #15496d;
}

.b-offtopic_marker.off:before {
  color: #7b8084 !important;
  border-color: #acb1b4 !important;
  background-color: transparent !important;
}

.b-offtopic_marker.off:hover:before {
  color: #ff4295 !important;
  border-color: #ff92c2 !important;
  background-color: #fdedf8 !important;
}

.b-offtopic_marker:before {
  border-radius: 3px;
  transition: all 115ms ease;
  color: #6aca5f !important;
  border-color: #8ee48a !important;
  background-color: #f1fded !important;
}

.b-offtopic_marker:hover:before {
  background-color: #e3ffda !important;
}

.b-offtopic_marker:active:before {
  box-shadow: 0px 0px 7px 2px rgba(140, 165, 185, 0.15) inset;
}

.b-summary_marker:before {
  border-radius: 3px;
  transition: all 115ms ease;
}

aside.buttons .editor-controls .b-tooltipped {
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: #d3d3d35c;
  transition: all 105ms ease;
}

aside.buttons .editor-controls .b-tooltipped:hover {
  color: #dd5202;
  border-color: #eca378 !important;
  background-color: #dd52023d !important;
}

aside.buttons .editor-controls .b-tooltipped:active {
  background-color: #dd52024f !important;
}

.p-profiles .profile-head .c-history .entry .title .name-ru::before {
  color: #416fb3;
}

.b-table tr.border {
  border-color: lightsteelblue;
}

.bar.vertical .line .x_label {
  font-family: Arial, sans-serif;
}

.p-userlist_comparer .comparer table .exact-same, .p-userlist_comparer .legend .exact-same {
  background: rgba(90, 255, 0, 0.2);
}

.p-userlist_comparer .comparer table .almost-same, .p-userlist_comparer .legend .almost-same {
  background: rgba(120, 200, 90, 0.2);
}

.p-userlist_comparer .comparer table .abslt-difr, .p-userlist_comparer .legend .abslt-difr {
  background: rgba(255, 0, 0, 0.2);
}

.p-userlist_comparer .comparer table .slightly-difr, .p-userlist_comparer .legend .slightly-difr {
  background: rgba(255, 145, 145, 0.2);
}

span[style="background: #f2fff2; padding: 0 2px;"] {
  background-color: rgba(120, 200, 90, 0.2) !important;
}

span[style="background: #fff2f2; padding: 0 2px;"] {
  background-color: rgba(255, 145, 145, 0.2) !important;
}

span[style="background: #e6ffe6; padding: 0 2px;"] {
  background-color: rgba(90, 255, 0, 0.2) !important;
}

span[style="background: #ffe6e6; padding: 0 2px;"] {
  background-color: rgba(255, 0, 0, 0.2) !important;
}

#clubs_show .m8 .b-link {
  text-decoration: none;
}
